@namespace WiredBrainCoffee.UI.Components
@using WiredBrainCoffee.Models

@*<div class="menu-item">
    <div class="menu-item-image">
        <img src="@MenuItem.ImageFile" />
    </div>
    <div class="menu-item-info">
        <p class="menu-item-title"><b>@MenuItem.Name</b></p>
        <p class="menu-item-summary">@MenuItem.ShortDescription</p>
    </div>
    <div class="menu-item-actions">
        <span class="menu-item-price"><b>Price: @MenuItem.Price.ToString("C")</b></span>
        <Button class="float-right" @onclick="(() => OnDetailsCallback.InvokeAsync(MenuItem))" Color="Color.Light">Details</Button>
        <Button class="float-right" @onclick="(() => OnOrderCallback.InvokeAsync(MenuItem))" Color="Color.Success">Add to Order</Button>
    </div>
</div>*@

<div class="card menu-item-card">
  <div class="row g-0">
    <div class="col-md-4">
            <img src="@MenuItem.ImageFile" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">@MenuItem.Name</h5>
        <p class="card-text">@MenuItem.ShortDescription</p>
        <p class="card-text card-actions">
            <small class="text-muted">Price: @MenuItem.Price.ToString("C")</small>
            <Button @onclick="(() => OnDetailsCallback.InvokeAsync(MenuItem))" Color="Color.Light">Details</Button>
            <Button @onclick="(() => OnOrderCallback.InvokeAsync(MenuItem))" Color="Color.Success">Add to Order</Button>
        </p>
        
      </div>
    </div>
  </div>
</div>


@code {
    [Parameter]
    public MenuItem MenuItem { get; set; } = new MenuItem();

    [Parameter]
    public EventCallback<MenuItem> OnOrderCallback { get; set; }

    [Parameter]
    public EventCallback<MenuItem> OnDetailsCallback { get; set; }
}
