@page "/order"

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Our Coffee and Food</h2>
                <p>Coffee, comfort food, great prices - we have it all.</p>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <input class="form-control" style="max-width: 250px; display: inline-block;" placeholder="Search..." @bind="SearchTerm" />
                    <button @onclick="FilterMenu" class="btn btn-info">Search</button>
                    <hr />
                    @if(FilteredMenu.Count() > 0)
                    {
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                            @foreach (var item in FilteredMenu)
                            {
                                <div class="col">
                                    <MenuListItem MenuItem="item" OnOrderCallback="(e => AddExtras(item))" />
                                </div>
                            }
                        </div>
                    }
                </div>
                @if (FilteredMenu.Count() == 0)
                {
                    <Tabs FullWidth SelectedTab="@(ActiveTab != null ? ActiveTab : "coffee")" SelectedTabChanged="@OnSelectedTabChanged">
                        <Items>
                            <Tab Name="coffee">Coffee</Tab>
                            <Tab Name="food">Food</Tab>
                        </Items>
                        <Content>
                            <TabPanel Name="coffee">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                                    @foreach (var item in MenuItems.Where(x => x.Category == "Coffee"))
                                    {
                                        <div class="col">
                                            <MenuListItem MenuItem="item"
                                                  OnDetailsCallback="(e => ViewDetails(item))"
                                                  OnOrderCallback="(e => AddExtras(item))" />
                                        </div>
                                    }
                                </div>
                            </TabPanel>
                            <TabPanel Name="food">
                                <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4">
                                    @foreach (var item in MenuItems.Where(x => x.Category == "Food"))
                                    {
                                        <div class="col">
                                            <MenuListItem MenuItem="item"
                                                  OnDetailsCallback="(e => ViewDetails(item))"
                                                  OnOrderCallback="(e => AddToOrder(item))" />
                                        </div>
                                    }
                                </div>
                            </TabPanel>
                        </Content>
                    </Tabs>
                }
            </div>
            <div class="col-md-4">
                <div class="order-info">
                    <h3>Order Summary:</h3>
                    @foreach (var item in CurrentOrder)
                    {
                        <OrderListItem MenuItem="item" OnClickCallback="(e => RemoveFromOrder(item))" />
                    }
                    <div class="place-order">
                        <p class="sub-line"><span>Promo savings: @((Discount * OrderTotal).ToString("C"))</span></p>
                        <p class="sub-line"><span>Tax: @((SalesTax * OrderTotal).ToString("C"))</span></p>
                        <p class="sub-line"><span>Your Total:</span><span>@((OrderTotal + (SalesTax * OrderTotal)).ToString("C"))</span></p>
                        <hr />
                        <div class="form-group">
                            <p>Gift cards or coupons? Enter them here.</p>
                            <input @bind-value="PromoCode" type="text" placeholder="Enter promo code" class="form-control" />
                        </div>
                        <br />
                        <Button @onclick="PlaceOrder" Color="Color.Info" class="float-end">Place Order</Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>